
/* Style for evry elements */
* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: rgb(233, 222, 211);
    font-weight: 400;
    line-height: 1.8;
    color: #6b6d6e;
}


/* NavBar css start*/
.nvabar-box {
    padding: 20px 162px;
}

.navbar {
    background-color: #ff6026;
    border: 1px solid #e74710;
    display: flex;
    height: 46px;
    list-style-type: none;
    justify-content: end;
    align-items: center;
}


a {
    font-family: 'Strait', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 3px 30px 4px;
}

/* NavBar css end*/
.main-container{
    padding: 0 163px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.container-1 {
    display: flex;
    justify-content: center;
}
.box1{
    padding-top: 19px;
}

#heading {
    font-size: 96px;
    font-family: trebuchet ms, helvetica, sans-serif;
    color: #6b6d6e;
    line-height: 1;
    text-shadow: 0 1px 1px #f2f0e9;
}

#heading2 {
    font-family: trebuchet ms, helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #6b6d6e;
    line-height: 1.8;
}

logo img css
.logo-img {
    width: 305px;
    height: 194px;
    margin-top: -19px;
   
}  

.container-2 {
    font-family: "over the rainbow";
}
#img2{
 padding-bottom: 24px;
}
.editor_excerpt {
    font-family: "over the rainbow";
    font-size: 28px;
    font-weight: 400;
    color: #6b6d6e;
    line-height: 1.8;
    word-wrap: break-word;
    padding: 0 37px;

}

.container-3 {
    background-color: #fff;
    /* opacity: .3; */
    width: 1100px;
    height: 448px;
    height: 448px;
    padding: 25px 25px;
    margin-left: 34px;
}
#pTag{
    color: #A52A2A;
    font-size: 22px;
    font-family: trebuchet ms,helvetica,sans-serif;
}
#li-ptag{
    list-style: none;
    font-family: over the rainbow;
    font-size: 22px;
}

#strong-ptag{
    color: #A52A2A;
    font-weight: bold;
    padding-left: 15px;
}
#pTag2{
    color: #A52A2A;
    font-size: 22px;
    font-family: trebuchet ms,helvetica,sans-serif;
    padding-top: 35px;
}
#craft {
    font-size: 24px;
}
#strong-craft{
    font-weight: bold;
    font-family: "over the rainbow";
    padding-left: 15px;
}




@media screen and (max-width: 1000px) {
    .nvabar-box {
        padding: 21px 117px;
    }
  
 
  
  }